.container {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgb(98, 97, 97);
    margin: 5px 0;
}

.watchContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

.watchElements {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.timerValue, .pauseTimer, .playTimer, .stopTimer, .startOver {
    font-weight: bold;
    font-size: 16px;
}

.startTimer {
    height: 100%;
    font-weight: bold;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stopTimer, .topReset {
    margin: 10% 0 -10% 0;
}

.pauseTimer, .playTimer, .bottomReset {
    margin: -10% 0 10% 0;
}
.startTimer:hover, .stopTimer:hover, .pauseTimer:hover, .playTimer:hover {
    cursor: pointer;
}