body {
  background-color: black;
}
.app {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.displayArea {
  margin: 50px auto 0;
}
.appHeading h2 {
  margin: 0;
  color: antiquewhite;
}

.appFooter {
  display: flex;
  justify-content: space-evenly;
}